.DateInputContainer {
  position: relative;

  width: 400px;
  height: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: transparent;
}

.DateInput {
  width: 100%;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: none;
  border-bottom: 2px solid var(--clr-gray-400);

  color: var(--clr-black);

  cursor: pointer;

  background-color: transparent;

  outline: none;
}

.DateInput::-webkit-calendar-picker-indicator {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-color: transparent;
}

.DateInput:focus {
  outline: none;
  border-bottom: 2px solid var(--clr-purple-medium);
}

.DateInputBottomMessage {
  width: 100%;
  display: flex;
  font-size: 13px;
}

@media screen and (max-width: 375px) {
  .DateInputContainer {
    width: 310px;
  }
}
