.caixa {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 550px;
  border-radius: 84px;
  background: #f4f4f4;
}

.titulo {
  flex-shrink: 0;
  color: #1e1e1e;
  text-align: center;
  font-family: Inter;
  font-size: 150px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7133f5;
  height: 40px;
  width: 120px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  border: none !important;
  transition: all linear 160ms;
  margin-top: 20px;
  
}

.link:hover {
  transform: scale(1.05);
  background-color: #440dbb;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1e1e1e;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.imagem {
  width: 200px;
  height: 200px;
}
