.Sidebar {
  position: absolute;
  width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transform: translateX(-180px);
  transition: transform 0.3s ease-out;
}

.Sidebar-open {
  transform: translateX(0);
}

.Sidebar-header {
  min-height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--clr-purple-medium);
}

.Sidebar-header-open {
  justify-content: center;
}

.Sidebar-header-closed {
  justify-content: flex-end;
}

.Sidebar-header-title {
  font-size: 28px;
  color: var(--clr-white);
}

.Sidebar-menu-icon {
  min-width: 60px;
  min-height: 60px;
  padding: 15px;;
  color: var(--clr-white);
  z-index: 1;
}

.Sidebar-close-icon {
  position: absolute;
  min-width: 32px;
  min-height: 32px;
  padding: 5px;

  right: calc(-30px / 2);
  top: calc(90px / 2);

  color: var(--clr-white);
  border-radius: 100%;
  background-color: var(--clr-purple-light);
  z-index: 1;
}

.Sidebar-body {
  height: 100%;
  background-color: var(--clr-purple-dark);
}
