:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 200px;
  min-height: 50px;
}

h1 {
  width: 550px;
  height: 58px;
  flex-shrink: 0;
  color: #1e1e1e;
  text-align: center;
  font-family: Inter;
  font-size: 150px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.button {
  background-color: #7133f5;
  height: 40px;
  width: 120px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin-top: 40px;
  margin-left: 210px;
}

.button:hover {
  transform: scale(1.05);
  background-color: #440dbb;
}
