:root {
  --clr-background-primary: #FFFFFF;
  --clr-background-secondary: rgba(152, 107, 248, 0.1);

  --clr-overlay: rgba(0, 0, 0, 0.25);

  --clr-purple-light: #986BF8;
  --clr-purple-medium: #7133F5;
  --clr-purple-dark: #120143;

  --clr-blue: #3391FF;
  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --clr-green: #52B16A;
  --clr-red: #FF5555;

  --clr-divider: #929292;

  --clr-gray-800: #44475A;
  --clr-gray-700: #424242;
  --clr-gray-400: #BBBBBB;
  --clr-gray-200: #D9D9D9;
  --clr-gray-100: #F4F4F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  @media (max-width: 1080px){
    font-size: 93.75%;
  }
  @media (max-width: 720px){
    font-size: 87.5%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #FFFFFF;
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--clr-gray-100);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--clr-purple-medium);
}
